In [1]:
from database_utils import DatabaseConnector
from data_cleaning import DataCleaning
from data_extraction import DataExtractor

In [ ]:
# Uploading cleaned sales_data to sql table dim_users in sales_data sql

example = DataCleaning('legacy_users')
clean_dataframe = example.clean_user_data()

instance = DatabaseConnector('sales_data_creds.yaml')
instance.upload_to_db(clean_dataframe, 'dim_users')

In [ ]:
# Uploading pdf to extractor

extractor = DataExtractor()
pdf_data = extractor.retrieve_pdf_data('card_details.pdf')
pdf_data.head()

In [ ]:
pdf_data.info()

In [ ]:
# Uploading card details to sales_data sql
example = DataCleaning('card_details.pdf')
pdf_data = example.clean_card_data()

instance = DatabaseConnector('sales_data_creds.yaml')
instance.upload_to_db(pdf_data, 'dim_card_details')

In [ ]:
# Task 5, Step 3: Retrieve end points
header = {'x-api-key' : 'yFBQbwXe9J3sd6zWVAMrK6lcxxr0q1lr2PT6DDMX'}

number_of_stores_endpoint = 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/number_stores'
extractor = DataExtractor()
number_of_stores = extractor.list_number_of_stores(number_of_stores_endpoint,header)

store_endpoint = 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/store_details/'

api_data = extractor.retrieve_stores_data(store_endpoint, number_of_stores, header)

In [ ]:
# Task 5, Step 4: Clean data
example = DataCleaning(api_data)
cleaned_df = example.called_clean_store_data()
print(cleaned_df.head())
print(cleaned_df.info())

In [ ]:
# Task 5, Step 5: Upload df using upload_to_db to dim_store_details
instance = DatabaseConnector(file_path='sales_creds.yaml')
instance.upload_to_db(cleaned_df,'dim_store_details')

In [ ]:
# Task 6, Step 1: Extract data from s3 bucket into pd dataframe
products_df = DataExtractor().extract_from_s3('s3://data-handling-public/products.csv')
print(products_df.head())

In [ ]:
products_df['weight'].unique()

In [ ]:
# Task 6, Step 3: Upload products details to sales_data sql

# Extract data from s3
products_df = DataExtractor().extract_from_s3('s3://data-handling-public/products.csv')

# Clean data
cleaned_products_df = DataCleaning(products_df).clean_products_data(products_df)

# Connect to sales_data and upload to sales_data db
instance = DatabaseConnector('sales_data_creds.yaml')
instance.upload_to_db(cleaned_products_df, 'dim_products')

In [2]:
# Task 7, Step 1
connector = DatabaseConnector('db_creds.yaml')
connector.list_db_tables()

['legacy_store_details', 'legacy_users', 'orders_table']

In [3]:
# Task 7, Step 2
extractor = DataExtractor()
orders_table_data = extractor.read_rds_table('orders_table')

In [4]:
orders_table_data

,level_0,date_uuid,first_name,last_name,user_uuid,card_number,store_code,product_code,1,product_quantity
index,,,,,,,,,,
0,0,9476f17e-5d6a-4117-874d-9cdb38ca1fa6,None,None,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8,30060773296197,BL-8387506C,R7-3126933h,NaN,3
1,1,0423a395-a04d-4e4a-bd0f-d237cbd5a295,None,None,8fe96c3a-d62d-4eb5-b313-cf12d9126a49,349624180933183,WEB-1388012W,C2-7287916l,NaN,2
2,2,65187294-bb16-4519-adc0-787bbe423970,None,None,fc461df4-b919-48b2-909e-55c95a03fe6b,3529023891650490,CH-01D85C8D,S7-1175877v,NaN,2
3,3,579e21f7-13cb-436b-83ad-33687a4eb337,None,None,6104719f-ef14-4b09-bf04-fb0c4620acb0,213142929492281,CL-C183BE4B,D8-8421505n,NaN,2
4,4,00ab86c3-2039-4674-b9c1-adbcbbf525bd,None,None,9523a6d3-b2dd-4670-a51a-36aebc89f579,502067329974,SO-B5B9CB3B,B6-2596063a,NaN,2
...,...,...,...,...,...,...,...,...,...,...
110548,110549,f0e8fff6-9998-4661-954b-0e258e09d33c,None,None,95c74b0a-d495-4359-b1c0-e2da511e8403,575421945446,KA-FA7ED3B8,C9-6827622o,NaN,4
82164,82164,1c80940a-d186-4ba9-9daa-8abd1aceae32,None,None,5d6fa6fe-e583-4baf-8bbb-d1dd6e2b551f,4971858637664481,WA-A41DA979,I0-1146408B,NaN,1
97599,97599,58598aca-049c-418e-8e39-46327634a7f1,Sharon,Miller,48b7f1fc-db13-4611-ad8e-3dac0b759488,4971858637664481,WEB-1388012W,A4-5443400b,NaN,4
106591,106591,3a76f661-0707-4fbc-9862-f21d3249f581,None,None,51c0b538-7ded-4697-8e84-9f7aa13f9112,4971858637664481,SO-6D328417,E9-2782979e,NaN,4
118804,118806,98fdc8b3-f619-4471-86b4-f44c26880166,None,None,e74907ca-1a4a-476c-a3ca-6b898b0964c2,4971858637664481,SO-6D328417,m0-0281207X,NaN,3

In [5]:
cleaned_orders_data = DataCleaning(orders_table_data).clean_orders_data(orders_table_data)

In [6]:
cleaned_orders_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120123 entries, 0 to 118804
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date_uuid         120123 non-null  string
 1   user_uuid         120123 non-null  string
 2   card_number       120123 non-null  int64
 3   store_code        120123 non-null  string
 4   product_code      120123 non-null  string
 5   product_quantity  120123 non-null  int8
dtypes: int64(1), int8(1), string(4)
memory usage: 5.6 MB

In [7]:
# Task 7, Step 4
connector = DatabaseConnector('sales_data_creds.yaml')
connector.upload_to_db(cleaned_orders_data, 'orders_table')

123

In [2]:
# Task 8
import pandas as pd
path = 'https://data-handling-public.s3.eu-west-1.amazonaws.com/date_details.json'

date_details_data = pd.read_json(path)
date_details_data.head()

  timestamp month  year day time_period                             date_uuid
0  22:00:06     9  2012  19     Evening  3b7ca996-37f9-433f-b6d0-ce8391b615ad
1  22:44:06     2  1997  10     Evening  adc86836-6c35-49ca-bb0d-65b6507a00fa
2  10:05:37     4  1994  15     Morning  5ff791bf-d8e0-4f86-8ceb-c7b60bef9b31
3  17:29:27    11  2001   6      Midday  1b01fcef-5ab9-404c-b0d4-1e75a0bd19d8
4  22:40:33    12  2015  31     Evening  dfa907c1-f6c5-40f0-aa0d-40ed77ac5a44

In [3]:
cleaned_date_details = DataCleaning(date_details_data).clean_date_data(date_details_data)

In [4]:
connector = DatabaseConnector('sales_data_creds.yaml')
connector.upload_to_db(cleaned_date_details, 'dim_date_times')

147