In [1]:
import sys
sys.path.append('/Users/elishagretton/Library/Mobile Documents/com~apple~CloudDocs/AiCore Bootcamp/multinational-retail-data-centralisation939')

In [2]:
from src.database_utils import DatabaseConnector
from src.data_cleaning import DataCleaning
from src.data_extraction import DataExtractor
import numpy as np
import pandas as pd

In [3]:
# Extracting pdf containing card_details
extractor = DataExtractor()
card_data = extractor.retrieve_pdf_data('https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf')

In [4]:
card_data.head()

,card_number,expiry_date,card_provider,date_payment_confirmed
0,30060773296197,09/26,Diners Club / Carte Blanche,2015-11-25
1,349624180933183,10/23,American Express,2001-06-18
2,3529023891650490,06/23,JCB 16 digit,2000-12-26
3,213142929492281,09/27,JCB 15 digit,2011-02-12
4,502067329974,10/25,Maestro,1997-03-13

In [5]:
# Missing values before cleaning
missing_values_per_column = card_data.isnull().sum()
print(missing_values_per_column)

card_number               0
expiry_date               0
card_provider             0
date_payment_confirmed    0
dtype: int64

In [6]:
# Clean data
cleaner = DataCleaning()
cleaned_card_data = cleaner.clean_card_data(card_data)

In [7]:
cleaned_card_data.head()

,card_number,expiry_date,card_provider,date_payment_confirmed
0,30060773296197,2026-09-01 00:00:00,Diners Club / Carte Blanche,2015-11-25
1,349624180933183,2023-10-01 00:00:00,American Express,2001-06-18
2,3529023891650490,2023-06-01 00:00:00,JCB 16 digit,2000-12-26
3,213142929492281,2027-09-01 00:00:00,JCB 15 digit,2011-02-12
4,502067329974,2025-10-01 00:00:00,Maestro,1997-03-13

In [8]:
# Missing values after cleaning
missing_values_per_column = cleaned_card_data.isnull().sum()
print(missing_values_per_column)

card_number               15
expiry_date               15
card_provider             15
date_payment_confirmed    15
dtype: int64

In [10]:
# Upload to SQL
instance = DatabaseConnector('../../sales_data_creds.yaml')
instance.upload_to_db(cleaned_card_data, 'dim_card_details')

299