In [1]:
import sys
sys.path.append('/Users/apple/Desktop/AiCore Bootcamp/multinational-retail-data-centralisation939')
from src.database_utils import DatabaseConnector
from src.data_cleaning import DataCleaning
from src.data_extraction import DataExtractor
from src.data_extraction import header
import numpy as np
import pandas as pd

In [2]:
extractor = DataExtractor()
pdf_data = extractor.retrieve_pdf_data('https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf')

In [4]:
missing_values_per_column = pdf_data.isnull().sum()

print(missing_values_per_column)

card_number               0
expiry_date               0
card_provider             0
date_payment_confirmed    0
dtype: int64

In [5]:
cleaner = DataCleaning()
cleaned_card_data = cleaner.clean_card_data(pdf_data)

In [6]:
cleaned_card_data.head()

,card_number,expiry_date,card_provider,date_payment_confirmed
0,30060773296197,2026-09-01 00:00:00,Diners Club / Carte Blanche,2015-11-25 00:00:00
1,349624180933183,2023-10-01 00:00:00,American Express,2001-06-18 00:00:00
2,3529023891650490,2023-06-01 00:00:00,JCB 16 digit,2000-12-26 00:00:00
3,213142929492281,2027-09-01 00:00:00,JCB 15 digit,2011-02-12 00:00:00
4,502067329974,2025-10-01 00:00:00,Maestro,1997-03-13 00:00:00

In [7]:
instance = DatabaseConnector('../../sales_data_creds.yaml')
instance.upload_to_db(cleaned_card_data, 'dim_card_details')

299

In [8]:
cleaned_card_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15299 entries, 0 to 15308
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15284 non-null  string
 1   expiry_date             15284 non-null  object
 2   card_provider           15284 non-null  string
 3   date_payment_confirmed  15284 non-null  object
dtypes: object(2), string(2)
memory usage: 597.6+ KB