In [2]:
import sys
sys.path.append('/Users/apple/Desktop/AiCore Bootcamp/multinational-retail-data-centralisation939')

In [3]:
from src.database_utils import DatabaseConnector
from src.data_cleaning import DataCleaning
from src.data_extraction import DataExtractor
from src.data_extraction import header
import numpy as np
import pandas as pd

In [4]:
path = 'https://data-handling-public.s3.eu-west-1.amazonaws.com/date_details.json'

date_events_data = DataExtractor().extract_from_json(path)

In [5]:
date_events_data.head()

  timestamp month  year day time_period                             date_uuid
0  22:00:06     9  2012  19     Evening  3b7ca996-37f9-433f-b6d0-ce8391b615ad
1  22:44:06     2  1997  10     Evening  adc86836-6c35-49ca-bb0d-65b6507a00fa
2  10:05:37     4  1994  15     Morning  5ff791bf-d8e0-4f86-8ceb-c7b60bef9b31
3  17:29:27    11  2001   6      Midday  1b01fcef-5ab9-404c-b0d4-1e75a0bd19d8
4  22:40:33    12  2015  31     Evening  dfa907c1-f6c5-40f0-aa0d-40ed77ac5a44

In [8]:
date_events_data.month.unique()

<StringArray>
[ '9.0',  '2.0',  '4.0', '11.0', '12.0',  '8.0',  '1.0',  '3.0',  '7.0',
 '10.0',  '5.0',  '6.0',   <NA>]
Length: 13, dtype: string

In [7]:
df = date_events_data
column = 'month'
df[column] = pd.to_numeric(df[column], errors='coerce')
df[column] = df[column].astype('string')

In [ ]:
cleaned_date_events_data = DataCleaning().clean_date_data(date_events_data)

In [ ]:
cleaned_date_events_data.head()

In [ ]:
connector = DatabaseConnector('../sales_data_creds.yaml')
connector.upload_to_db(cleaned_date_events_data, 'dim_date_times')

In [ ]:
cleaned_date_events_data.info()