In [1]:
import sys
sys.path.append('/Users/elishagretton/Library/Mobile Documents/com~apple~CloudDocs/AiCore Bootcamp/multinational-retail-data-centralisation939')

In [2]:
from src.database_utils import DatabaseConnector
from src.data_cleaning import DataCleaning
from src.data_extraction import DataExtractor
import numpy as np
import pandas as pd

In [3]:
#Â Extract data from json file
path = 'https://data-handling-public.s3.eu-west-1.amazonaws.com/date_details.json'
date_events_data = DataExtractor().extract_from_json(path)

In [4]:
date_events_data.head()

  timestamp month  year day time_period                             date_uuid
0  22:00:06     9  2012  19     Evening  3b7ca996-37f9-433f-b6d0-ce8391b615ad
1  22:44:06     2  1997  10     Evening  adc86836-6c35-49ca-bb0d-65b6507a00fa
2  10:05:37     4  1994  15     Morning  5ff791bf-d8e0-4f86-8ceb-c7b60bef9b31
3  17:29:27    11  2001   6      Midday  1b01fcef-5ab9-404c-b0d4-1e75a0bd19d8
4  22:40:33    12  2015  31     Evening  dfa907c1-f6c5-40f0-aa0d-40ed77ac5a44

In [5]:
# Missing values before cleaning
missing_values_per_column = date_events_data.isnull().sum()
print(missing_values_per_column)

timestamp      0
month          0
year           0
day            0
time_period    0
date_uuid      0
dtype: int64

In [6]:
cleaned_date_events_data = DataCleaning().clean_date_data(date_events_data)

In [7]:
cleaned_date_events_data.head()

,timestamp,month,year,day,time_period,date_uuid
0,22:00:06,9.0,2012.0,19.0,Evening,3b7ca996-37f9-433f-b6d0-ce8391b615ad
1,22:44:06,2.0,1997.0,10.0,Evening,adc86836-6c35-49ca-bb0d-65b6507a00fa
2,10:05:37,4.0,1994.0,15.0,Morning,5ff791bf-d8e0-4f86-8ceb-c7b60bef9b31
3,17:29:27,11.0,2001.0,6.0,Midday,1b01fcef-5ab9-404c-b0d4-1e75a0bd19d8
4,22:40:33,12.0,2015.0,31.0,Evening,dfa907c1-f6c5-40f0-aa0d-40ed77ac5a44

In [8]:
# Missing values after cleaning
missing_values_per_column = cleaned_date_events_data.isnull().sum()
print(missing_values_per_column)

timestamp      24
month          24
year           24
day            24
time_period    24
date_uuid      24
dtype: int64

In [9]:
# Upload to SQL
connector = DatabaseConnector('../../sales_data_creds.yaml')
connector.upload_to_db(cleaned_date_events_data, 'dim_date_times')

147