In [1]:
import sys
sys.path.append('/Users/apple/Desktop/AiCore Bootcamp/multinational-retail-data-centralisation939')

In [2]:
from src.database_utils import DatabaseConnector
from src.data_cleaning import DataCleaning
from src.data_extraction import DataExtractor
from src.data_extraction import header
import numpy as np
import pandas as pd

In [3]:
path = 'https://data-handling-public.s3.eu-west-1.amazonaws.com/date_details.json'

date_events_data = DataExtractor().extract_from_json(path)

In [4]:
date_events_data.head()

  timestamp month  year day time_period                             date_uuid
0  22:00:06     9  2012  19     Evening  3b7ca996-37f9-433f-b6d0-ce8391b615ad
1  22:44:06     2  1997  10     Evening  adc86836-6c35-49ca-bb0d-65b6507a00fa
2  10:05:37     4  1994  15     Morning  5ff791bf-d8e0-4f86-8ceb-c7b60bef9b31
3  17:29:27    11  2001   6      Midday  1b01fcef-5ab9-404c-b0d4-1e75a0bd19d8
4  22:40:33    12  2015  31     Evening  dfa907c1-f6c5-40f0-aa0d-40ed77ac5a44

In [5]:
cleaned_date_events_data = DataCleaning().clean_date_data(date_events_data)

/Users/apple/Desktop/AiCore Bootcamp/multinational-retail-data-centralisation939/src/data_cleaning.py:147: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.category = df[column_name].astype('string')

In [6]:
cleaned_date_events_data.head()

,timestamp,month,year,day,time_period,date_uuid
0,22:00:06,9.0,2012.0,19.0,Evening,3b7ca996-37f9-433f-b6d0-ce8391b615ad
1,22:44:06,2.0,1997.0,10.0,Evening,adc86836-6c35-49ca-bb0d-65b6507a00fa
2,10:05:37,4.0,1994.0,15.0,Morning,5ff791bf-d8e0-4f86-8ceb-c7b60bef9b31
3,17:29:27,11.0,2001.0,6.0,Midday,1b01fcef-5ab9-404c-b0d4-1e75a0bd19d8
4,22:40:33,12.0,2015.0,31.0,Evening,dfa907c1-f6c5-40f0-aa0d-40ed77ac5a44

In [7]:
connector = DatabaseConnector('../../sales_data_creds.yaml')
connector.upload_to_db(cleaned_date_events_data, 'dim_date_times')

147

In [8]:
cleaned_date_events_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120147 entries, 0 to 120160
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   timestamp    120123 non-null  object
 1   month        120123 non-null  string
 2   year         120123 non-null  string
 3   day          120123 non-null  string
 4   time_period  120123 non-null  object
 5   date_uuid    120123 non-null  object
dtypes: object(3), string(3)
memory usage: 6.4+ MB