In [1]:
import sys
sys.path.append('/Users/apple/Desktop/AiCore Bootcamp/multinational-retail-data-centralisation939')

In [2]:
from src.database_utils import DatabaseConnector
from src.data_cleaning import DataCleaning
from src.data_extraction import DataExtractor
from src.data_extraction import header
import numpy as np
import pandas as pd

In [3]:
# Extract data from csv
extractor = DataExtractor()
products_data = extractor.extract_from_s3('s3://data-handling-public/products.csv')

In [4]:
products_data.head()

,product_name,product_price,weight,category,EAN,date_added,uuid,removed,product_code
0,FurReal Dazzlin' Dimples My Playful Dolphin,£39.99,1.6kg,toys-and-games,7425710935115,2005-12-02,83dc0a69-f96f-4c34-bcb7-928acae19a94,Still_avaliable,R7-3126933h
1,Tiffany's World Day Out At The Park,£12.99,0.48kg,toys-and-games,487128731892,2006-01-09,712254d7-aea7-4310-aff8-8bcdd0aec7ff,Still_avaliable,C2-7287916l
2,Tiffany's World Pups Picnic Playset,£7.00,590g,toys-and-games,1945816904649,1997-03-29,b089ef6f-b628-4e37-811d-fffe0102ba64,Still_avaliable,S7-1175877v
3,Tiffany's World Wildlife Park Adventures,£12.99,540g,toys-and-games,1569790890899,2013-03-20,d55de422-8b98-47d6-9991-e4bc4c5c0cb0,Removed,D8-8421505n
4,Cosatto Cosy Dolls Pram,£30.00,1.91kg,toys-and-games,7142740213920,2007-12-23,7945b657-cb02-4cc5-96cf-f65ed0a8f235,Still_avaliable,B6-2596063a

In [5]:
# Missing values before cleaning
missing_values_per_column = products_data.isnull().sum()
print(missing_values_per_column)

product_name     4
product_price    4
weight           4
category         4
EAN              4
date_added       4
uuid             4
removed          4
product_code     4
dtype: int64

In [6]:
# Clean data
cleaned_products_data = DataCleaning().clean_products_data(products_data)

In [7]:
cleaned_products_data.head()

,product_name,product_price,weight,category,EAN,date_added,uuid,removed,product_code
0,FurReal Dazzlin' Dimples My Playful Dolphin,£39.99,1.60,toys-and-games,7425710935115.0,2005-12-02,83dc0a69-f96f-4c34-bcb7-928acae19a94,still_available,R7-3126933h
1,Tiffany's World Day Out At The Park,£12.99,0.48,toys-and-games,487128731892.0,2006-01-09,712254d7-aea7-4310-aff8-8bcdd0aec7ff,still_available,C2-7287916l
2,Tiffany's World Pups Picnic Playset,£7.00,0.59,toys-and-games,1945816904649.0,1997-03-29,b089ef6f-b628-4e37-811d-fffe0102ba64,still_available,S7-1175877v
3,Tiffany's World Wildlife Park Adventures,£12.99,0.54,toys-and-games,1569790890899.0,2013-03-20,d55de422-8b98-47d6-9991-e4bc4c5c0cb0,Removed,D8-8421505n
4,Cosatto Cosy Dolls Pram,£30.00,1.91,toys-and-games,7142740213920.0,2007-12-23,7945b657-cb02-4cc5-96cf-f65ed0a8f235,still_available,B6-2596063a

In [8]:
# Missing values after cleaning
missing_values_per_column = cleaned_products_data.isnull().sum()
print(missing_values_per_column)

product_name     0
product_price    3
weight           4
category         3
EAN              3
date_added       3
uuid             3
removed          3
product_code     3
dtype: int64

In [9]:
# Upload to SQL
instance = DatabaseConnector('../../sales_data_creds.yaml')
instance.upload_to_db(cleaned_products_data,'dim_products')

849